{{ define "content" }}
<div class="container">
    <h1>Admin Users - RapidFeed</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>RSS Feeds</th>
            </tr>
        </thead>
        <tbody>
            {{range .UsersWithFeeds}}
            <tr>
                <td>{{.User.Username}}</td>
                <td>{{.User.Role}}</td>
                <td>
                    <ul>
                        {{range .UserFeeds}}
                        <li>{{.FeedURL}}</li>
                        {{end}}
                    </ul>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{ end }}