{{ define "content" }}
<div class="container" class="pure-g">
    <div class="pure-u-1-1">
        <h4>Add new user to RapidFeed:</h4>
        <form action="/admin/users" method="post" class="pure-form pure-form-stacked">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="role">Role:</label>
            <select id="role" name="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>

            <button type="submit">Add User</button>
        </form>

        <br/>
        <hr/>
        <br/>

        <h4>Manage existing users and feeds:</h4>
        <table class="pure-table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>RSS Feeds</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{range .UsersWithFeeds}}
            <tr>
                <td>{{.User.Username}}</td>
                <td>{{.User.Role}}</td>
                <td>
                    <ul>
                        {{range .UserFeeds}}
                        <li>
                            {{ .Title }} - {{.FeedURL}}
                            <form action="/admin/users" method="post" style="display:inline;">
                                <input type="hidden" name="delete_feed_id" value="{{.ID}}">
                                <button type="submit">Delete Feed</button>
                            </form>
                        </li>
                        {{end}}
                    </ul>
                </td>
                <td>
                    {{if ne .User.Role "blocked"}}
                    <form action="/admin/users" method="post" style="display:inline;">
                        <input type="hidden" name="block_user_id" value="{{.User.ID}}">
                        <button type="submit">Block User</button>
                    </form>
                    {{end}}
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
