{{- define "base" }}
<!DOCTYPE html>
<html>
<head>
    <title>{{- .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A fast, single binary rss reader with support of old devices.">
<!--    <meta name="color-scheme" content="light dark">-->
    <link rel="stylesheet" href="/static/internal/static/style.css" />
    <link rel="stylesheet" href="/static/internal/static/pure.min.css" />
    <link rel="icon" href="/static/internal/static/favicon.svg" type="image/svg+xml">
</head>
<body>
{{- template "navbar" . }}

<div class="container-fluid">
    {{- template "content" . }}
</div>
</body>
</html>
{{- end }}