{{ define "content" }}
<div class="container">
    <h1>Settings - RapidFeed</h1>
    <form action="/settings" method="post">
        <label for="feed_url">RSS Feed URL:</label>
        <input type="text" id="feed_url" name="feed_url" required>

        <button type="submit">Add RSS Feed</button>
    </form>

    <ul>
        {{range .UserFeeds}}
        <li>{{.FeedURL}} <form action="/settings" method="post" style="display:inline;">
            <input type="hidden" name="feed_id" value="{{.ID}}">
            <button type="submit">Delete</button>
        </form></li>
        {{end}}
    </ul>
</div>
{{ end }}